@charset "utf-8";

/*sitemap content*/
.section.sitemapSection{
margin-bottom:80px
}

.sitemapColumn{
float:left;
width:300px;
margin-left:30px;
}
.sitemapColumn:first-child{
margin-left:0;
}
.sitemapColumn ul{
margin:0 0 30px 10px;
}
.sitemapColumn h2 span a{
color:#000;
text-decoration:none;
transition:all 0.3s ease;
-webkit-transition:all 0.3s ease;
-moz-transition:all 0.3s ease;
-o-transition:all 0.3s ease;
position:relative;
}
.sitemapColumn ul li a{
color:rgb(141,12,37);
text-decoration:none;
transition:all 0.3s ease;
-webkit-transition:all 0.3s ease;
-moz-transition:all 0.3s ease;
-o-transition:all 0.3s ease;
position:relative;
}
.sitemapColumn h2 span a{
padding-left:15px;
}
.sitemapColumn ul li a{
padding-left:10px;
}
.sitemapColumn h2{
margin-bottom:5px;
}

.sitemapColumn h2 span a:hover,
.sitemapColumn ul li a:hover{
color:rgb(141,12,37);
text-decoration:underline;
}

.sitemapColumn h2 span a:before{
width:0;
height:0;
border-style:solid;
border-width:6.5px 0 6.5px 11px;
border-color:transparent transparent transparent rgb(141,12,37);
content:"";
position:absolute;
left:0;
top:7px;
transition:all 0.3s ease;
-webkit-transition:all 0.3s ease;
-moz-transition:all 0.3s ease;
-o-transition:all 0.3s ease;
}
.sitemapColumn ul li a:before{
width:0;
height:0;
border-style:solid;
border-width:4.5px 0 4.5px 6px;
border-color:transparent transparent transparent rgb(141,12,37);
content:"";
position:absolute;
left:0;
top:5px;
transition:all 0.3s ease;
-webkit-transition:all 0.3s ease;
-moz-transition:all 0.3s ease;
-o-transition:all 0.3s ease;
}

.sitemapColumn h2 span a:hover:before{
left:3px;
}
.sitemapColumn ul li a:hover:before{
left:3px;
}

@media screen and (max-width:959px){
#content{
margin-left:20px;
margin-right:20px;
width:calc(100% - 40px);
}
.sitemapColumn{
width:30%;
}
.sitemapColumn li{
line-height:1.6em;
}
}
@media screen and (max-width:699px){
.sitemapColumn{
float:none;
margin-left:0;
margin-bottom:10px;
width:100%;
}
.sitemapColumn h2{
margin-top:0;
}
.sitemapColumn ul{
margin-bottom:20px;
}
}