@charset "utf-8";
/* CSS Document */

/*----alphabet JS------------------------*/
#alphabetlayer {
	opacity: 0.3;
}
#alphabetlayer2 {
	opacity: 0.4;
	font: 72px sans-serif;
	display: block;
}
#alphabetlayer {
  width: 100%;
  position: fixed;
	bottom: 0px;
  left: 0px;
	z-index: -2;
}
#alphabetlayer2 {
  width: 100%;
	height: 100%;
  position: fixed;
	bottom: 0px;
  left: 0px;
	z-index: -2;
}

.alphabets {
	position: absolute;
	top: 0px;
	z-index: -1;
}
.alphabetsImg {
	width: 100%;
	height: auto;
}
/*----------------------------*/
body {
	width: 100%;
	margin: 0px auto;
	border-top: 3px solid #A52B34;
	background-color: #ffffff;
	background: url(/images/bg_top.png) no-repeat center top,
				url(/images/bg_lg.jpg) no-repeat center bottom,
				url(/images/bg_innr.png) repeat-y center;				 
	position: relative;
	font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif !important;
	color: #5c5b5b;
	padding-bottom: 800px;
}

#container { 
	width: 1000px;
	margin: 0px auto;
	z-index: 0;
}
#content { 
	width: 820px;
	margin: 55px auto;
}
#content h2{ 
	margin: 30px 0 50px;
}


a{
	color: #5c5b5b;
	text-decoration: none;
}
a:hover{
	color: #000000;
	text-decoration: underline;
}
/*----menu?------------------------*/
#menus {
	width: 120px;
	float: left;
	margin-left: 25px;
	text-align: center;
	position: relative;
	z-index: 1;
}
#menu {
	width: 120px;
	height: 0px;
	position: absolute;
	top: 28px;
	left:0px;
	z-index: 1;
}
ul#menu {
	margin-left: 0px !important;
}
#menu > li {
 	height: 22px;
	padding-bottom: 6px;
	font-size:11px;
	text-align: center;
	list-style: none;
	cursor: pointer;
}
#menu > li > * {
	width: 120px;
	height: 22px;
	background-color: #E0BDB1;
}
#menu > li > *:hover, #menu > li.current > * {
	background-color: #A52B34;
}



/*----header------------------------*/
#header{}

#header h1#header_ttl{
	float: left;
	margin: 0 !important;
}
#header #header_subttl{
	float: right;
}

/*----nav------------------------*/
#nav{ 
	width: 820px;
	margin: 10px auto;
	font-size: 12px;
}

#nav_typ2{ 
	width: 820px;
	margin: 10px 0;
	font-size: 12px;
	position: relative;
}

#nav ul{
	-webkit-padding-start: 0px !important;
	padding-left: 0px !important;
	list-style-type:none;
	text-align: center;
}
#nav_typ2 ul{
	-webkit-padding-start: 0px !important;
	padding-left: 0px !important;
	list-style-type:none;
	text-align: left;
}


#nav ul li, #nav_typ2 ul li{
	/*float: left;*/
	display: inline;
	padding: 15px 4px 15px 6px;

}
#nav .b_left, #nav_typ2 .b_left{
	border-left: 1px dotted #ccc;
}
#nav .b_right, #nav_typ2 .b_right{
	border-right: 1px dotted #ccc;
}
#nav a, #nav_typ2 a{
	color: #5c5b5b;
	text-decoration: none;
}
#nav a:hover, #nav_typ2 a:hover{
	color: #000000;
	background-color: rgba( 200, 200, 200, 0.5 );
	text-decoration: none;
}
#nav_typ2 a.nav_bnnr:hover{
	background-color: #ffffff !important;
	text-decoration: none;
}
#nav .active, #nav_typ2 .active{
	color: #ffffff;
	background: #a52b36;
}

/*-----nav_company-----*/
#nav ul.nav_company a{
	padding: 10px 21px;
}
/*-----nav_products-----*/
#nav ul.nav_products a{
	padding: 10px 15px;
}
/*-----nav_safe-----*/
#nav_typ2 ul.nav_safe a{
	padding: 10px 15px;
}
/*-----nav_safe-----*/
#nav_typ2 ul.nav_recruit a{
	padding: 10px 5px;
}
/*-----nav_service-----*/
#nav_typ2 ul.nav_service a{
	padding: 10px 4px;
}
/*-----nav_pypy-----*/
#nav_typ2 ul.nav_pypy a{
	padding: 10px 30px;
}
/*----footer------------------------*/
#footer{
	position: absolute;
	bottom: 80px;
}
#footer .ft_logo{
	margin-bottom:20px;
}
#footer .ft_logo img{
	float: left;
	margin:0 14px;
}



/*----box common template------------------------*/
#content .ct_box{
	margin: 50px auto;
	padding-bottom: 50px;
	background: url(/images/box_bttm.png) no-repeat center bottom ;
	width: 820px;
}
#content .ct_box .ct_box_top{
	margin: 0 auto;
	background: url(/images/box_top.png) no-repeat center top ;
	padding-top: 25px; 
}
#content .ct_box .ct_box_top2{
	margin: 0 auto -20px;
	background: url(/images/box_top.png) no-repeat center top ;
	padding-top: 40px; 
}
#content .ct_box .ct_box_cntr{
	margin: 0 auto;
	padding: 30px 20px ;
	background: url(/images/box_cntr.png) repeat-y center top;
}
#content .ct_box .ct_box_cntr2{
	margin: 0 auto;
	padding: 0 0 0 3px ;
	background: url(/images/box_cntr.png) repeat-y center top;
}
#content .ct_box .ct_box_cntr2 .ct_box_int{
	padding: 60px 40px 50px;
	line-height: 180%;
}
#content .ct_box .ct_box_cntr2 .ct_box_int ul{
	margin: 20px 0 0;
}
#content .ct_box .ct_box_cntr2 .ct_box_int li{
	list-style: none;
	font-size: 12px;
	padding: 0 0 3px 30px;
	background: url(/images/p_makasete_04.jpg) no-repeat left 2px;
}
/*-------------------------------------------------*/
/*----company -------------------------------------*/
/*-------------------------------------------------*/


/*----company c_message.html------------------------*/

.ct_box_sent{
	float: left;
	width: 480px;
}
.ct_box_sent p{
	line-height: 190%;
	padding: 2px 10px;
}
.ct_box_pic{
	float: left;
	width: 280px;
	text-align: center;
}
.ct_box_pic img{
	border: 1px solid #efeeee;
}
/*----company c_history.html------------------------*/

.ct_box_table{
	display: block;
	margin: auto;
	width: 766px;
}

.ct_box_sent table.tbl01,
.ct_box_table table.tbl01{
	margin-bottom: 30px;
}
.ct_box_sent td.td_year,
.ct_box_table td.td_year{
	width: 120px;
	text-align: center;
	padding: 8px;
}
.ct_box_sent td.td_sent,
.ct_box_table td.td_sent{
	width: 646px;
	text-align: left;
	padding: 8px 10px;
}
.ct_box_sent td.td_hr,
.ct_box_table td.td_hr{
	width: 200px;
	text-align: center;
	padding: 8px;
}
.ct_box_sent .odd,
.ct_box_table .odd{
	background-color: #d6eaf3;
}
.ct_box_sent .even,
.ct_box_table .even{
	background-color: #eaf4f8;
}
.ct_box_sent .td_right,
.ct_box_table .td_right{
	border-right:8px solid #ffffff; 
}
.ct_box_sent .td_bottom,
.ct_box_table .td_bottom{
	border-bottom:8px solid #ffffff; 
}
.ct_box_sent .td_right2,
.ct_box_table .td_right2{
	border-right:3px solid #ffffff; 
}
.ct_box_sent .td_bottom2,
.ct_box_table .td_bottom2{
	border-bottom:3px solid #ffffff; 
}

.ct_box_sent .table_ttl,
.ct_box_table .table_ttl{
	background-color: #1f6d9f;
	color: #ffffff;
	padding: 12px 12px;
}
/*----company c_change.html------------------------*/

.ct_box_table2 {
	margin-left: 10px;
}

.ct_box_table2 table.gyoseki{
	float: left;
	width: 300px;
}
.ct_box_table2 table.gyoseki th{ 
	background: #7cafde;
	padding: 3px;
	text-align: center; 
	font-weight: normal !important;
	color: #ffffff;
}
.ct_box_table2 table.gyoseki td{ 
	background: #d6eaf3;
	padding: 3px;
	text-align: right; 
}
.ct_box_table2 .ct_box_graph{
	float: left;
	padding:20px 0 0 15px; 
}
.ct_box_table2 .td_right{
	border-right:2px solid #ffffff; 
}
.ct_box_table2 .td_bottom{
	border-bottom:2px solid #ffffff; 
}
.ct_box_table2 table.gyoseki td.tani{ 
	background: #ffffff;
	padding: 3px;
	text-align: right; 
	font-size: 10px;
}
/*----company c_com.html------------------------*/
.ct_box_com{
	padding:0 10px;
}
.ct_box_com .com_flt{
	float: left;
	width: 251px;
	height: 474px;
	margin-right: 2px;
	position: relative;
}
.ct_box_com .c_com_bg01{
	background: url(/images/c_com_pic01.jpg) no-repeat center top ;
}
.ct_box_com .c_com_bg02{
	background: url(/images/c_com_pic02.jpg) no-repeat center top ;
}
.ct_box_com .c_com_bg03{
	background: url(/images/c_com_pic03.jpg) no-repeat center top ;
}

.com_flt .com_subj{
	position: absolute;
	text-align: center;
	width: 200px;
	font-size: 24px;
	color: #ffffff;
	top: 50px;
	left:0;
	right: 0;
	margin: auto;
}
.com_flt .com_obj{
	position: absolute;
	text-align: left;
	color: #ffffff;
	font-size: 12px;
	width: 240px;
	top: 350px;
	left:0;
	right: 0;
	margin: auto;
}
.com_flt .com_obj li{
	margin: 3px 0;
}
/*----company c_chart_ttl.html------------------------*/

.ct_box_chart img{
	display: block;
	margin: 0 auto;
}

/*----company c_affiliated.html------------------------*/
.ct_box_affiliated{
	width: 760px;
	margin: 0 auto;
}
.ct_box_affiliated .sbbg{
	width: 760px;
	padding: 15px;
	background: #1f6d9f;
	color: #ffffff;
}
.ct_box_affiliated ul{
	margin: 20px 0 50px;
}
.ct_box_affiliated ul.snd{
	float: left;
	margin: 20px 20px 50px 0;
}
.ct_box_affiliated li, .ct_box_affiliated ul.snd li{
	margin: 10px 0;
	list-style-type: none;
	padding-left: 15px;
	background: url(/images/c_affiliated_arrw.jpg) no-repeat 0 5px;
}

/*----company c_office.html------------------------*/
.ct_office_table{
	display: block;
	margin: auto;
	width: 766px;
}
.ct_office_table .table_ttl{
	background-color: #1f6d9f;
	color: #ffffff;
	padding: 12px 12px;
	text-align: center;
}
.ct_office_table td.td_place{
	width: 220px;
	text-align: left;
	padding: 8px;
}
.ct_office_table td.td_add{
	width: 546px;
	text-align: left;
	padding: 8px 10px;
}
.ct_office_table .odd{
	background-color: #d6eaf3;
}
.ct_office_table .even{
	background-color: #eaf4f8;
}
.ct_office_table .td_right{
	border-right:8px solid #ffffff; 
}
.ct_office_table .td_bottom{
	border-bottom:8px solid #ffffff; 
}


/*----products products.html------------------------*/

.prod_right_box{
	width: 580px;
	margin: 40px 0 0 0;
	padding-right: 25px;
	float: right;
}
.prod_right_box h2{
	font-size: 30px;
	margin: 0 !important;
}
.prod_right_box p{
	height: 70px;
	font-size: 12px;
	padding: 10px 5px 0;
}
.prod_box_go{
	margin: 10px 0; 
}


.prod_in_box01{
	background: url(/images/products_ttl01.png) no-repeat left top;
	height: 239px;
}
.prod_in_box02{
	background: url(/images/products_ttl02.png) no-repeat left top;
	height: 239px;
}
.prod_in_box03{
	background: url(/images/products_ttl03.png) no-repeat left top;
	height: 239px;
}
.prod_in_box04{
	background: url(/images/products_ttl04.png) no-repeat left top;
	height: 239px;
}
.prod_in_box05{
	background: url(/images/products_ttl05.png) no-repeat left top;
	height: 239px;
}


.prod_in_box01 li{
	background: url(/images/products_dot01.jpg) no-repeat left 5px;
}
.prod_in_box02 li{
	background: url(/images/products_dot02.jpg) no-repeat left 5px;
}
.prod_in_box03 li{
	background: url(/images/products_dot03.jpg) no-repeat left 5px;
}
.prod_in_box04 li{
	background: url(/images/products_dot04.jpg) no-repeat left 5px;
}


.prod_in_box01 ul,
.prod_in_box02 ul,
.prod_in_box03 ul,
.prod_in_box04 ul,
.prod_in_box05 ul{
	-webkit-padding-start: 10px !important;
	height: 15px;
}

.prod_in_box01 li,
.prod_in_box02 li,
.prod_in_box03 li,
.prod_in_box04 li,
.prod_in_box05 li{
	list-style: none;
	float: left;
	font-size: 12px;
	padding-left: 11px;
	width: 180px;
}

/*-------------------------------------------------*/
/*----products ------------------------------------*/
/*-------------------------------------------------*/


/*----products products.html------------------------*/

.prod_in_box00{ 
	width: 795px;
	margin: 20px auto 10px;
	background: #ffffff;
}
.prod_left_box00{
	float: left;
}
.prod_right_box00{
	padding: 10px 0px 10px 20px;
	width: 550px;
	float: left;
}
.prod_right_box00 h2{
	font-size: 30px;
	margin: 0 !important;
}
.prod_right_box00 p{
	padding: 10px 5px 0 ;
	font-weight: bold;
}
.prod_right_box00 p.bun{
	padding: 10px 5px 0 ;
	font-weight: normal;
	font-size: 12px;
}
.prod_right_box00 span{
	padding: 10px 15px;
}
.into_box00{ 
	width: 550px;
	height: 120px;
}
.prod_box_go{
	margin: 5px 0; 
}



.into_box00 ul.mark_p_makasete{
	-webkit-padding-start: 10px !important;
}
.into_box00 ul.mark_p_makasete li{
	list-style: none;
	font-size: 12px;
	padding: 0 0 3px 30px;
	background: url(/images/p_makasete_04.jpg) no-repeat left 2px;
}
/*----products p_makasete_kotaro.html------------------------*/
#tab_makasete {
	margin: 0 auto;
	padding-top: 40px;
	width: 785px;
}

#tab_makasete h3{
	color: #5c5b5b;
	padding-bottom: 20px;
}
#tab_makasete p{
	font-size: 12px;
	background: #e8eaeb;
	padding: 5px 10px;
}
#tab_makasete #tab4 span,
table.contact_table span{
	font-size: 15px;
	font-weight: bold;
	color: #e46b80;
}
#tab_makasete hr{
  border:none;
  border-top:dashed 1px #CCC;
  height:1px;
  color:#FFFFFF;
  margin: 30px 0 20px;
}
h2.pro_ttl00{
	font-size: 18px;
}

#tabs{
	margin: 0 auto !important; 
	margin-bottom: 0px! important;
}

#tabs ul,li,p {
	margin: 0;
	padding: 0;
	list-style: none;
}
#tabs li {
	display: inline;
	text-align: center;
	position: relative;
}

#tabs .tab_ttl{
	position: absolute;
	top: 7px;
	left: 0;
	right: 0;
	margin: auto;
}

#tabs li img {
	border: none;
	vertical-align: top;
	margin: 0;
	padding: 0;
	position: relative;
}

#tab1,
#tab2,
#tab3,
#tab4 {
	width: 770px;
	margin: 0 auto;
	padding: 15px;
}

#tab2,
#tab3,
#tab4 {
	display: none;
}

#tab1 ul{
    -webkit-padding-start: 0px !important;
}
#tab1 ul li{
	font-size: 12px;
	background: ;
	padding: 10px 10px 10px 35px;	
	margin-bottom:10px; 
}

#tab1.tab_makasete_pink ul li{
	background: url(/images/p_makasete_15.png) no-repeat 10px 50% #e8eaeb;
}
#tab1.tab_star_orange ul li{
	background: url(/images/p_star_netsu_15.png) no-repeat 10px 50% #e8eaeb;
}
#tab1.tab_star_green ul li{
	background: url(/images/p_ai_07.png) no-repeat 10px 50% #e8eaeb;
}
#tab1.tab_ec_sky ul li{
	background: url(/images/p_ec_06.png) no-repeat 10px 50% #e8eaeb;
}
#tab1.tab_q_blue ul li{
	background: url(/images/p_q_07.png) no-repeat 10px 12px #e8eaeb;
}

.tab_makasete_pink{
	border: 5px solid #e46b80;
}
.qa_pston{
	float: right;
	width: 440px;
}
.qa_pston img{
	float: left;
	margin-right: 20px;
}
.qa_pston p.qa_pston_name{
	background: none !important;
	float: left;
	font-size: 14px !important;
	margin: 0 !important;
}
.qa_pston p.qa_pston_add{
	line-height: 200%;
	background: none !important;
	float: left;
}
table.makasete_table th,
table.contact_table th{ 
	background: #e8eaeb;
	padding: 3px;
	text-align: center; 
	color: #5c5b5b;
	font-size: 13px;
}
table.contact_table th.tbl_subj,
table.makasete_table th.tbl_subj{ 
	background: #898a8a;
	padding: 10px;
	text-align: left; 
	font-size: 16px;
	color: #ffffff;
}
table.contact_table th.tbl_subj2,
table.makasete_table th.tbl_subj2{ 
	background: #898a8a;
	padding: 10px;
	text-align: left; 
	font-size: 14px;
	color: #ffffff;
}
table.contact_table td,
table.makasete_table td{ 
	background: #f0f1f1;
	padding: 10px 10px 10px 10px;
	text-align: left; 
	font-size: 12px;
}
table.makasete_table ul{ 
	-webkit-padding-start: 20px !important;
	margin-bottom: 0 !important;
}
table.makasete_table li{ 
	margin: 10px 0;
	list-style: inherit;
	font-size: 12px;
}
table.contact_table .td_right,
table.makasete_table .td_right{
	border-right:2px solid #ffffff; 
}
table.contact_table .td_bottom,
table.makasete_table .td_bottom{
	border-bottom:2px solid #ffffff; 
}
table.contact_table .td_bottom_wide.
table.makasete_table .td_bottom_wide{
	border-bottom:20px solid #ffffff; 
}

form .btns{
	text-align: center;
	width: 100%;
}

input[type=button],
input[type=reset],
input[type=submit] {
	margin: 20px 10px; 
}


table.cnt_sent{
	margin-bottom: 30px;
}
table.cnt_sent td{
	padding: 0 10px;
	vertical-align:top;
}


/*----products p_star.html------------------------*/

.space{
	height: 130px;
	position: relative;
}

.space img{
	position: absolute;
	top: 15px;
	left: -19px;
}

/*----products p_star_orosi.html------------------------*/

.tab_star_orange{
	border: 5px solid #fc9a2d;
}

/*----products p_ai.html------------------------*/


.into_box00 ul.mark_p_ai{
	-webkit-padding-start: 10px !important;
}
.into_box00 ul.mark_p_ai li{
	list-style: none;
	font-size: 12px;
	padding: 0 0 3px 30px;
	background: url(/images/p_ai_05.jpg) no-repeat left 2px;
}
/*----products p_ai_familiar.html------------------------*/

.tab_star_green{
	border: 5px solid #7fbd4d;
}

/*----products p_ai_sien.html------------------------*/

.sub_list{
	margin-bottom:20px;  
}
span.sub_ttl{
	color: #5c5b5b ;
	font-size: 18px ;
	position:relative;
	top: 3px;
	left: 10px;
}
.sub_list_bk1{
	width: 715px;
	height: 232px;
	background: url(/images/p_ai_sien_02.jpg) no-repeat left top;
	margin-bottom: 15px;
}

ul.sub_list_ulli{
	margin-left: 30px;
	width: 400px;
}

ul.sub_list_ulli li{
	padding: 5px 5px 5px 0 !important;
	list-style: disc !important; 
	background: none !important;
}

p.sub_ttl_koe{
	line-height: 200%;
	padding: 20px !important;
}


.c_com_bg01{
	float: left;
	position: relative;
	width: 200px;
	height: 262px;
	background: url(/images/p_ai_sien_ope_01.jpg) no-repeat center top ;
}
.c_com_bg02{
	float: left;
	position: relative;
	width: 255px;
	height: 262px;
	background: url(/images/p_ai_sien_ope_02.jpg) no-repeat center top ;
}
.c_com_bg03{
	float: left;
	position: relative;
	width: 256px;
	height: 262px;
	background: url(/images/p_ai_sien_ope_03.jpg) no-repeat center top ;
}
.com_bun01{
	position: absolute;
	text-align: left;
	font-size: 12px;
	width: 180px;
	top: 200px;
	left:0;
	right: 0;
	margin: auto;
	color: #111111;
}
.com_bun02{
	position: absolute;
	text-align: left;
	font-size: 12px;
	width:180px;
	top: 200px;
	left:66px;
	color: #111111;
}
/*----products p_ec_daido.html------------------------*/

.tab_ec_sky{
	border: 5px solid #67bfb9;
}

/*----products p_q.html------------------------*/
.tab_q_blue{
	border: 5px solid #70b1db;
}

table.q_tbl{
	margin: 10px auto 5px;
}
table.q_tbl td{
	background: url(/images/p_q_03.png) no-repeat left 50% ;
	width:210px;
	padding: 2px 15px;
}

/*----safe safe_disaster.html------------------------*/
table.tbl01 ul{

	margin-left: 20px;
    margin-bottom: 0px !important;
    -webkit-padding-start: 0px !important;
}

table.tbl01 ul li{
	padding: 5px 5px 5px 0 !important;
	list-style: disc !important; 
	background: none !important;
}


/*----recruit/r_personal.html------------------------*/

ul.nav_recruit{
	width:690px;
	margin-right:0px !important;
	padding:0px;
}
.rec_box{
	width: 100%;
	font-size: 12px !important;
	margin-bottom:40px; 
}
.rec_box .rec_inbox_l{
	float: left;
	padding: 10px 0;
	width: 130px;
}
.rec_box .rec_inbox_r{
	float: left;
	width: 650px;
}
.rec_box .rec_inbox_r .rec_line_ttl{
	color: #2b59a5;
	font-weight: bold;
}
#nav_typ2 .rec_bnnr{
	float:right;
	position:absolute;
	top:-82px;
	right:-17px;
}
/*----recruit/r_schedule.html------------------------*/
.rec_box .rec_inbox_l2{
	float: left;
	padding: 0;
	width: 271px;
}
.rec_box .rec_inbox_r2{
	float: left;
	width: 509px;
	padding: 5px 0 0 15px;
}
.rec_box .rec_inbox_r2 .rec_txt_box_top{
	width: 509px;
	height: 94px;
}
.rec_box .rec_inbox_r2 .rec_txt_box{
	width: 509px;
	height: 98px;

}

.rec_box .rec_inbox_r2 p.top_list{
	margin: 5px 0 0 15px  !important;
	border: 1px solid #d6eaf3;
	padding: 15px ;
	height: 64px;
}
.rec_box .rec_inbox_r2 p{
	border: 1px solid #d6eaf3;
	padding: 15px ;
	height: 67px;
	width: 487px;
	display: table-cell;
    vertical-align: middle;
   	margin: 0 0 0 15px !important;
}
/*----recruit/r_newface.html------------------------*/
.r_newface_subj{
	background: url(/images/r_newface_07.png) no-repeat left;
	width: 776px;
	height: 71px;
	padding:21px  0 0 25px;
	color: #ffffff;
}
ul.r_newface_ul{
	line-height: 160%;
	padding: 10px 20px 20px 50px;
}
ul.r_newface_ul li{
	list-style: disc !important;
	margin: 10px 0;

}
/*----recruit/r_education.html------------------------*/

table.r_education_tbl{
	margin: 20px 0 0 20px;
}
table.r_education_tbl td{
	padding: 2px 5px;
	font-size: 16px;
}
/*----recruit/r_info.html------------------------*/
h4.r_info_h4{
	background: #0570c3;
	color: #ffffff;
	font-size: 14px;
	padding: 15px;
}

table.r_info_tbl{
	margin: 30px ;
}

table.r_info_tbl td{
	padding: 4px  10px;
	border-bottom: 1px dotted #ccc;
}
table.r_info_tbl td:first-child{
	color: #5c5b5b;
	font-weight: bold;
	width: 30%
}

table.r_info_tbl td:last-child{
	width: 70%;
}


/*----service/service.html------------------------*/

.modal-dialog {
    width: 660px !important;
    margin: 30px auto;
}

.modal-body img{
width: 600px;
height: 600px;
display: block;
margin: auto;
}

i.close{
font-size: 24px;
opacity: 1;
color: #777;
}
i.close:hover{
color: #aaa;
}

.hidden{
display: none;
}
/*----policy/privacy.html------------------------*/
ol.pypy_ol{
	margin:  30px 15px;
}

ol.pypy_ol li.in_li_num{
	list-style: decimal;
	margin:  20px 10px 30px;
}

ol.pypy_ol li.in_li_num li.in_li_alph{
	list-style: lower-latin;
	margin:  10px 0;
}
ol.pypy_ol li.in_li_num li.in_li_roman{
	list-style: lower-roman;
	margin:  10px 0;
}

/*----contact.html------------------------*/
#contact_box{
	width: 785px;
}

table.contact_table{
 margin-left: auto !important;
 margin-right: auto !important;
 
}
#contact_box #btns2{
	text-align: center;
	width: 100%;
}



